.party {
  display: flex;
  flex-direction: row;
  background-color: rgba(131, 131, 131, 0.404);
  width: 70vw;
  height: max-content;
  min-height: max-content;
  text-align: center;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.enemyParty {
  background-color: rgba(131, 131, 131, 0.404);
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: max-content;
  min-height: max-content;
  text-align: center;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.friendly-Warrior {
  background-color: lightblue;
  width: max-content;
  height: min-content;
  border-style: solid;
  border-color: grey;
}
.friendly-Mage {
  background-color: plum;
  width: max-content;
  height: min-content;
  border-style: solid;
  border-color: grey;
}
.friendly-Priest {
  background-color: lightyellow;
  width: max-content;
  height: min-content;
  border-style: solid;
  border-color: grey;
}
.enemy-Warrior {
  background-color: rgb(247, 108, 108);
  width: max-content;
  height: max-content;
  border-style: solid;
  border-color: grey;
}
.enemy-Priest {
  background-color: rgb(255, 45, 45);
  width: max-content;
  height: max-content;
  border-style: solid;
  border-color: grey;
}

.battlefield {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm {
  width: 10vw;
  height: 5vh;
}

.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battleLog {
  overflow: scroll;
  height: 50vh;
  width: 50vw;
}

.middlefield {
  display: flex;
  flex-direction: row;
}
